<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_hospital_management_root"
            name="Hospital Management"
            web_icon="hospital_management,static/description/icon.png"
            sequence="0"/>

    <menuitem
            id="menu_patient_master"
            name="Patient Details"
            parent="menu_hospital_management_root"
            sequence="0"/>

</odoo>
